.form{
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 5%;
    height: 550px;
    background-color: black;
    box-shadow: gray 2px 2px 2px;
    color: white;
    padding-top: 5% ;
    font-family: Helvetica;
}

p{
    margin-bottom: 10%;
    font-size: large;
    
}
