.lista{
    margin-left: 2%;
    font-family: Helvetica;
    font-size: large;
    max-height: 450px;
    overflow-y: scroll;
    border: 1px solid black; 
    border-radius: 10px;
    padding: 10px;

}

.lista tr, .lista th{
    padding-right: 20px;
}
.lista img{
    height: 44px;
    width: 44px;
}

.contenedor{
    display: flex;
    margin-top:2%;
    justify-content: center; 
    align-items: center; 
    gap:13%;

}

.contenedorBorrar{
    background-color: black;
    color: white;
    padding: 20px;
    box-shadow: 1px 1px 1px gray;
}

table{
    border-collapse: separate; 
    border-spacing: 20px;  

}

.botonBorrar{
    border: 1px solid white;
}
.botonBorrar:hover{
    background-color: rgb(189, 23, 23);
    border: 1px solid rgb(189, 23, 23);
}

