body{
    background-color: rgb(245, 245, 220,0.2) !important;
    height: 92%;
}

html{
    height: 94%;
}

::-webkit-scrollbar {
    display: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
